<a href="https://colab.research.google.com/github/Machariajane/Dphi-ML-Bootcamp/blob/main/DatathonDecsionTree1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")

import statsmodels.api as sm
import scipy.stats as st
import matplotlib.pyplot as plt

from sklearn.metrics import confusion_matrix
import matplotlib.mlab as mlab
%matplotlib inline

In [ ]:
tax_data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/tax_payers/train_set_label.csv" )

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(tax_data['PoliticalParty'])
LabelEncoder()
list(le.classes_)

['Democrat', 'Independent', 'Republican']

In [ ]:
tax_data.drop_duplicates()

     Unnamed: 0     HHI    HHDL  ...  Filed in 2016  Filed in 2015  PoliticalParty
0            61  183414  -12402  ...              0              1        Democrat
1           501  129786  700251  ...              0              0      Republican
2           658  268343  493411  ...              0              1     Independent
3           703  290506 -433408  ...              0              1      Republican
4           702   90108  907135  ...              1              0        Democrat
..          ...     ...     ...  ...            ...            ...             ...
798         476  153304  971909  ...              0              0        Democrat
799         657  136652 -184616  ...              0              0        Democrat
800         596   51066 -900262  ...              0              0        Democrat
801         561  123721  -51448  ...              1              1      Republican
802         635  189020  839546  ...              0              0      Republican

[803 rows x 11 columns]

In [ ]:
tax_data.drop('Unnamed: 0',axis = 1)

        HHI    HHDL  Married  ...  Filed in 2016  Filed in 2015  PoliticalParty
0    183414  -12402        1  ...              0              1        Democrat
1    129786  700251        2  ...              0              0      Republican
2    268343  493411        2  ...              0              1     Independent
3    290506 -433408        1  ...              0              1      Republican
4     90108  907135        1  ...              1              0        Democrat
..      ...     ...      ...  ...            ...            ...             ...
798  153304  971909        0  ...              0              0        Democrat
799  136652 -184616        1  ...              0              0        Democrat
800   51066 -900262        1  ...              0              0        Democrat
801  123721  -51448        2  ...              1              1      Republican
802  189020  839546        2  ...              0              0      Republican

[803 rows x 10 columns]

In [ ]:
X = tax_data.drop('PoliticalParty', axis = 1) 


y =le.transform(tax_data['PoliticalParty'])

In [ ]:
from sklearn import tree

In [ ]:
# model = tree.DecisionTreeClassifier()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 101)

In [ ]:
# model.fit(X_train,y_train)

In [ ]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

# #Predict the response for test dataset
# y_pred = clf.predict(X_test)

# # Model Accuracy, how often is the classifier correct?
# print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
predict = clf.predict(X_test)

In [ ]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/tax_payers/test_set_label.csv')

In [ ]:
test_data.drop('Unnamed: 0',axis = 1)

        HHI    HHDL  Married  ...  Filed in 2017  Filed in 2016  Filed in 2015
0    253274 -633752        2  ...              0              1              1
1     47107  322850        0  ...              1              1              0
2    111874  300583        0  ...              0              1              1
3     96670  107419        0  ...              0              0              0
4    128669  341273        0  ...              1              1              1
..      ...     ...      ...  ...            ...            ...            ...
196  138204  144986        1  ...              1              1              0
197   73250 -810927        0  ...              1              0              1
198  134376  352116        0  ...              1              0              0
199   70820  260337        0  ...              1              0              1
200  114510  930683        2  ...              0              0              1

[201 rows x 9 columns]

In [ ]:
predictions = clf.predict(test_data)

In [ ]:

# To create Dataframe of predicted value with particular respective index
res = pd.DataFrame(le.inverse_transform(predictions))#preditcions are nothing but the final predictions of your model on input features of your new unseen test data
res.index = test_data.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["prediction"]
# To download the csv file locally
from google.colab import files
res.to_csv('prediction_results.csv',index=False)         
files.download('prediction_results.csv')
#